body{
  font-family: 'Roboto', sans-serif;
}
.container-p{
  width: 700px;
  margin: 0 auto;
}
.nombre{
  font-size: 20px;
  color: blue;
}
.card{
  background-color: rgb(230, 230, 230);
}

.img-api{
  width: 100%;
}
.container1{
  margin: top 10%;
  margin-left: 20px;
}
